header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #011936;
    color: rgb(211, 216, 209);
  }
  
  h1 {
    margin: 0;
    font-size: 35px;
  }
  
  nav {
    margin-top: 1rem;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin: 0 3rem;
    font-size: 20px;
  }
  
  a {
    text-decoration: none;
    color: #566D76;
    font-weight:400;
  }
  
  a:hover {
    text-decoration: none;
    color: #F9DC5C;
  }