<div>
    <div class="toolbar">
        <mat-form-field class="form-field-toolbar">
            <input [(ngModel)]="searchTerm" matInput placeholder="{{ 'games.searchPlaceHolder' | translate }}">
        </mat-form-field>        
        <button  mat-flat-button color="primary" (click)="searchGameByName()">{{ 'games.searchButton' | translate }}</button>
        <button  mat-flat-button color="warn" (click)="openAddGameDialog()">{{ 'games.addGameButton' | translate }}</button>
        <button  mat-flat-button color="secondary" (click)="switchViewType()">{{ 'games.switchViewTypeButton' | translate }}</button>

      </div>
    <mat-table *ngIf="viewType==0" class="my-table" [dataSource]="dataSource" matSort strect>
      <ng-container matColumnDef="logo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Logo</mat-header-cell>
        <mat-cell *matCellDef="let game"><img width="65" [src]="game.logo"/></mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'games.name' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let game">{{ game.name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>{{ 'games.description' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let game">{{ game.description }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="releaseDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'games.releaseDate' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let game">{{ game.releaseDate | date }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="editorId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'games.editor' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let game">{{ game.editorId }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let game">
          <button mat-icon-button color="primary" (click)="openEditGameDialog(game.id)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="'/editors'" class="row-hover"></mat-row>
    </mat-table>
    
    <div class="game-tile-container" *ngIf="viewType==1">
      <app-game-tile *ngFor="let game of dataSource.data;" [game]="game" class="game-tile"/>
    </div>
    <mat-paginator [pageSize]="pageSize" showFirstLastButtons [pageSizeOptions]="pageSizeOptions" [length]="totalGames" (page)="getGames($event)"></mat-paginator>
</div>
