<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'games.name' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let game">{{ game.name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>{{ 'games.description' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let game">{{ game.description }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="releaseDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'games.releaseDate' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let game">{{ game.releaseDate | date }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="editorId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'games.editor' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let game">{{ game.editorId }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSize]="pageSize" showFirstLastButtons [pageSizeOptions]="pageSizeOptions" [length]="totalGames" (page)="getGames($event)"></mat-paginator>
</div>
