
<div class="table-toolbar">
  <button  mat-flat-button color="warn" (click)="addEditor()">{{ 'editors.addEditorButton' | translate }}</button>
  <button (click)="switchView()" mat-fab color="warn">
    <em class="material-icons" *ngIf="view === 'card'">list</em>
    <em class="material-icons" *ngIf="view === 'list'">view_stream</em>
  </button>
</div>

<section [ngSwitch]="view">

  <!-- Card view -->
  <section *ngSwitchCase="'card'" style="display: flex;" class="editor-tile-container">
    <app-editor-tile *ngFor="let editor of dataSource.data" (updateButtonEvent)="editEdior(editor.id)" [editor]="editor"></app-editor-tile>
  </section>

  <!-- List view -->
  <section *ngSwitchCase="'list'">
    <mat-table [dataSource]="dataSource" matSort strect>
      <ng-container matColumnDef="logo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'editors.logo' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let editor">
          <img *ngIf="editor.logo !== undefined" width="100" [src]="editor.logo">
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'editors.name' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let editor">{{ editor.name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let editor">
          <button mat-icon-button color="primary" (click)="editEdior(editor.id)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </section>
</section>

<mat-paginator [pageSize]="pageSize" showFirstLastButtons [pageSizeOptions]="pageSizeOptions" [length]="totalEditors" (page)="getEditors($event)">
</mat-paginator>
