<mat-card class="game-tile">
    <div class="game-tile-image-container">
      <img [src]="game.logo" alt="Game Logo">
    </div>
    <div class="game-tile-info">
      <mat-card-header>
        <mat-card-title><h3>{{ game.name }}</h3></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <i>Description :</i>
        <p>{{ game.description }}</p><br>
        <p>{{ 'gameDialog.releaseDatePlaceHolder' | translate }} : {{ game.releaseDate | date }}</p>
      </mat-card-content>
    </div>
    <button mat-icon-button color="primary" (click)="openEditGameDialog()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card>